@media(max-width: 1200px)
    .menu
        &_item
            padding-right: 14px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .reasons
        &_desc
            width: 300px
        &_round
            align-self: flex-start
    .mobile
        &_item
            width: 290px

    footer
        .menu_main_list
            justify-content: space-around
            a
                font-size: 14px
        .menu_second_list
            justify-content: space-around
            a
                font-size: 10px
        .badges
            justify-content: space-around
            top: 70px
            padding: 0px
            .badge
                padding: 2px
                height: 24px
                &_item                
                    img
                        height: 100%
                        
